@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}


@mixin align_items {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-moz-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

@mixin bg_size {
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


@mixin filter($i) {
	-webkit-filter: $i;
	filter: $i;
}

@mixin preserve {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	transform: perspective(1000px);
}