$bg_img: url(https://dragdis.blob.core.windows.net/assets/2017/04/24/B60E640F9530B06FF5CBA990E057C242.jpg);

$color_text: #BE814E;
$line: rgba(190, 129, 78, 0.13);
$bg_menu: #272329;
$font: "Playball", cursive;